.item {
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: 5px 0;
}

.status {
  width: 20px;
  height: 20px;
  display: block;
  background-color: red;
  border-radius: 50%;
}

.status.isOnline {
  background-color: green;
}

.avatar {
}

.name {
}
